.background_parallax {
  user-select: none;
  position: absolute;
  width: 100svw;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  overflow: hidden;
}
