.addListing {
  display: flex;
  justify-content: center;
  width: 160px;
}

.addListing a {
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
  height: 33px;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.addListing a:hover {
  background-color: #0056b3;
}
