/* Individual listing styling for both views */
.listView .listing {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
  display: flex; /* Flex container */
  flex-direction: row; /* Stack content horizontally */
  justify-content: space-between; /* Space out content */
  overflow: hidden; /* Hide overflow content */
  align-items: flex-start; /* Align items to the top */
  width: 100%; /* Full width in list view */
  height: auto; /* Auto height in list view */
}

/* Grid View Layout */
.gridView {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
}

.gridView .listing {
  width: 350px; /* Fixed width */
  height: auto; /* Auto height */
  padding: 15px; /* Ensure padding inside listing */
  box-sizing: border-box; /* Include padding in width/height */
  display: flex; /* Flex container */
  flex-direction: column; /* Stack content vertically */
  align-items: center; /* Center items horizontally */
  justify-content: flex-start; /* Align items to the top */
}

.gridView .listingImage {
  width: 320px; /* Full width of the grid cell */
  height: 200px; /* Fixed height */
  margin-bottom: 15px; /* Add margin at the bottom */
  object-fit: cover; /* Ensure the image covers the container */
  border-radius: 10px;
}

.gridView .listingContent {
  margin-top: 10px;
  text-align: center; /* Center text */
}

.listingContent {
  flex: 1;
  text-align: left;
  padding: 0 15px;
}

.listing h3 {
  margin-top: 0;
  color: #333;
  font-size: 14px;
}

.listing p {
  color: #666;
  margin-top: 2px;
  font-size: 14px;
}

.auctionDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 5px;
  width: 100%;
  flex-wrap: wrap;
}

.auctionDetails p {
  color: #000000;
  margin-top: 5px;
  font-size: 14px;
}

.auctionDetails h1 {
  color: #43c00e;
  margin-top: 5px;
  font-size: 14px;
}

/* Listing Styling */
.listing {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 15px;
  flex-wrap: wrap; /* Allows content to wrap on small screens */
}

.listingImage {
  width: 125px;
  height: 125px;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 15px;
}

.listView .listingImage {
  width: 180px;
  height: 132px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 15px;
}

.addListing {
  margin-bottom: 20px;
  display: flex;
  justify-content: center; /* Center the content within the button */
  align-self: flex-end; /* Align the button to the end of the flex container */
  margin-top: 10px;
  width: 25%;
  margin-left: auto; /* Push the button to the right */
}

.addListing a {
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px; /* Space between links */
  border-radius: 4px;
}

.addListing a:hover {
  background-color: #0056b3;
}

.managementTools {
  display: flex;
  flex-direction: column; /* Arrange links in a column */
  margin-left: 20px; /* Space between content and management tools */
  align-self: flex-start; /* Align to the start of the flex container */
  max-width: 150px; /* Limit width of management tools */
}

.gridView .managementTools {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns grid */
  gap: 5px;
  align-self: center;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.managementTools a {
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px; /* Space between links */
  border-radius: 4px;
}

.managementTools a:hover {
  background-color: #0056b3;
}