.charityList {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.charityList > :nth-child(odd) {
  flex-direction: row;
  justify-content: left;
  text-align: left;
  background: linear-gradient(to right, #007bff, #004080);
}

.charityList > :nth-child(even) {
  flex-direction: row-reverse;
  justify-content: right;
  text-align: right;
  background: linear-gradient(to left, #007bff, #004080);
}
