.charityList {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 1rem;
}

.charityList > :nth-child(odd) {
  flex-direction: row;
  justify-content: left;
  text-align: left;
  background: linear-gradient(
    to right,
    var(--periwinkle),
    var(--dark-periwinkle)
  );
}

.charityList > :nth-child(even) {
  flex-direction: row-reverse;
  justify-content: right;
  text-align: right;
  background: linear-gradient(
    to left,
    var(--periwinkle),
    var(--dark-periwinkle)
  );
}

@media (max-width: 768px) {
  .charityList {
    padding: 0.5rem;
  }

  .charityList > :nth-child(odd),
  .charityList > :nth-child(even) {
    flex-direction: column;
    text-align: center;
  }
}
