.charity_entry{
  display:flex;
  align-items:center;
  justify-content:center;
  margin-bottom:20px;
  margin-top:50px;
  padding-right:150px;
  color:white;
  background:linear-gradient(to right,#007bff,#004080);
  border-radius:8px;
  box-shadow:0px 4px 8px rgba(0,0,0,0.1);
}
.charity_entry_right{
  display:flex;
  align-items:center;
  justify-content:center;
  margin-bottom:20px;
  margin-top:50px;
  padding-left:150px;
  padding-right:50px;
  color:white;
  background:linear-gradient(to left,#007bff,#004080);
  border-radius:8px;
  box-shadow:0px 4px 8px rgba(0,0,0,0.1);

}
.logo {
  width:20vh;
  height:auto;
  margin-right:20px;
  padding:0;
}
.charity_details{
  display:flex;
  flex-direction:column;
}
.charity_name{
  font-size:24px;
  font-weight:bold;
  margin-bottom:5px;
}
.charity_name_right{
  font-size:24px;
  font-weight:bold;
  margin-bottom:5px;
  text-align:right;
  padding-right:30px;
}
.charity_location_right{
  font-size:14px;
  margin-bottom:10px;
  text-align:right;
  padding-right:30px;
}
.charity_location{
  font-size:14px;
  margin-bottom:10px;
}
.charity_description{
  font-size:16px;
}
@media (max-width: 600px){
  .charity_entry {
    display:flex;
    flex-direction:column;
    padding:15px;
    align-items:center;
  }
  .charity_details{
    margin:0 auto;
    padding-top:10px;
    text-align:center;
  }
  .logo{
   margin: 0 auto 10px auto;
   padding:0;
  }  
  .charity_entry_right{
    display:flex;
    flex-direction:column-reverse;
    padding:15px;
    align-items:center;
  }
  .charity_details_right{
    text-align:center;
    margin:0 auto;
  }
  .charity_name_right{
    padding:0;
    text-align:center;
  }
  .charity_location_right{
    padding:0;
    text-align:center;
  }
}
