.footer {
  max-width: 100svw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark-periwinkle);
  padding: 0.5rem;
}

.footer div {
  width: fit-content;
  color: var(--light-blue);
}
