.progressBarContainer {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-bottom: 15px;
  overflow: hidden;
}

.progressBar {
  width: 0;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: width 0.5s;
}
